.result::-webkit-scrollbar{
    display: none;
}
.loader hr{
    border-radius: 4px;
    border:none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#b5f3ff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loading linear 2s infinite ;
    transition: all ease-in .5s;

}
@keyframes loading {
    0%{
        background-position: -800px 0px;
    }
    100%{
         background-position: 800px 0px;
    }
}