
.sidebar{
   transition:  all ease-in .5s;
}

.recent-entry{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
}
.recent-entry:hover{
    background-color: #96baf7;
}


